body {
    margin:0;
}
header {
  width: 100%;
  top: 0;
  position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 10px;
    color: #fff;
  }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 30px;
  }
  
  .menu li a {
    color	: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .menu li a:hover {
    color: #f00;
  }
  .vidéo {
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .vidéo img{
   width:400px;
    height: 250px;
  }
  
  @media only screen and (max-width: 407px) {
    header {
        margin-bottom: 0;
      }
      .menu li a {
        font-size:12px;
      }
      .vidéo img{
        width: 360px;
        height: 170px;
        border-radius: 0px;
        margin-left: 0;
      }
      .vidéo {
        margin-top: 55px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }
  @media only screen and (max-width: 1057px) {
    header {
        margin-bottom: 0;
      }
      .menu li a {
        font-size:25px;
      }
      .vidéo img{
        width: 526.5px;
        height: 420px;
        border-radius: 0px;
        margin-left: 0;
      }
      .vidéo {
        margin-top: 55px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }
